In [4]:
import pandas as pd
import tensorflow as tf
import numpy as np

In [5]:
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
  # Restrict TensorFlow to only use the first GPU
  try:
    tf.config.experimental.set_visible_devices(gpus[6], 'GPU')
  except RuntimeError as e:
    # Visible devices must be set at program startup
    print(e)

In [6]:
from official.nlp import optimization

/usr/local/lib/python3.8/dist-packages/tensorflow_addons/utils/ensure_tf_install.py:53: UserWarning: Tensorflow Addons supports using Python ops for all Tensorflow versions above or equal to 2.3.0 and strictly below 2.6.0 (nightly versions are not supported).
 The versions of TensorFlow you are currently using is 2.9.1 and is not supported.
Some things might work, some things might not.
If you were to encounter a bug, do not file an issue.
If you want to make sure you're using a tested and supported configuration, either change the TensorFlow version or the TensorFlow Addons's version.
You can find the compatibility matrix in TensorFlow Addon's readme:
https://github.com/tensorflow/addons
  warnings.warn(

In [7]:
from utils import *

# probing making

In [3]:
train_coref = 'indo_coref/train.indonesia.jsonlines'
test_coref = 'indo_coref/test.indonesia.jsonlines'
val_coref = 'indo_coref/dev.indonesia.jsonlines'

In [4]:
train_coref_df = create_df_coref(train_coref)
test_coref_df = create_df_coref(test_coref)
val_coref_df = create_df_coref(val_coref)

In [5]:
train_coref_df.to_csv('probing_dataset/coref/train_indo_coref.csv', index=None)
test_coref_df.to_csv('probing_dataset/coref/test_indo_coref.csv', index=None)
val_coref_df.to_csv('probing_dataset/coref/val_indo_coref.csv', index=None)

In [6]:
train_const = 'kethu/kethu-2.0/kethu-v2.0-925.mrg'
test_const = 'kethu/kethu-2.0/kethu-v2.0-105.mrg'

In [7]:
train_const_df = create_df_const(train_const)
test_const_df = create_df_const(test_const)

In [8]:
train_const_df.to_csv('probing_dataset/constituency/train_indo_coref.csv', index=None)
test_coref_df.to_csv('probing_dataset/constituency/test_indo_coref.csv', index=None)

In [9]:
train_dep = 'UD_Indonesian-CSUI/id_csui-ud-train.conllu'
test_dep = 'UD_Indonesian-CSUI/id_csui-ud-test.conllu'

In [10]:
train_dep_df = create_df_dependency(train_dep)
test_dep_df = create_df_dependency(test_dep)

In [11]:
train_const_df.to_csv('probing_dataset/dependency/train_indo_coref.csv', index=None)
test_coref_df.to_csv('probing_dataset/dependency/test_indo_coref.csv', index=None)

# indograd

In [8]:
train_indograd = pd.read_csv('indograd/indograd_train.csv')
train_indograd

,Unnamed: 0,qID,sentence,option1,option2,label
0,0,3CESM1J3EKH9XVP8YOWOQ1FHRXB6WZ-2,"John tidak bisa melihat ikan di tangki, tetapi...",tangki,akuarium,2
1,1,3J06WJ78HPYHXW449MZ0GRC21HZVV4-1,Dia menyukai kulit pohon maple dan bukan pohon...,pohon pinus,pohon maple,1
2,2,3U74KRR67OZPCZR620DU5SU3GNHTNP-1,Lindsey meminta nasihat Megan tentang cara sop...,Lindsey,Megan,1
3,3,3VIVIU06FKAEREROCPNQM8FM769MIN-1,Monica adalah seorang pegulat profesional teta...,Monica,Cynthia,1
4,4,3CIS7GGG67X0I6TI960LK1MWLVOUE1-2,Ryan menabrak kelinci percobaan Ian dengan mob...,Ryan,Ian,2
...,...,...,...,...,...,...
1130,1130,3D7VY91L65V446DI6FV90LB9CEYBM8-2,"Jason masuk ke lubang keuangan yang dalam, tid...",Jason,Joel,1
1131,1131,391JB9X4Z0MKRYGJWQK2RMI8TUUMKD-1,James menyelesaikan buku itu selama penerbanga...,penerbangan,buku,1
1132,1132,3MD8CKRQZZL1J5OMZF47K8OWQCURJX-2,"Dennis ingin mengajar biologi, tetapi Lawrence...",Dennis,Lawrence,2
1133,1133,3LG268AV3AK82E115C5GFQZCE6BERS-2,"Nasinya mengandung terlalu banyak garam, tetap...",kentang,nasi,2
1134,1134,3L1EFR8WWT3FA364M8D0EPWAWUKF9Z-2,Dia tahu bahwa matahari lebih dekat ke bumi da...,matahari,bintang,2

In [9]:
val_indograd = pd.read_csv('indograd/indograd_val.csv')
val_indograd

,Unnamed: 0,qID,sentence,option1,option2,label
0,0,33IXYHIZB5GC45L96OEFMK3W9BL2E9-1,"Rebecca, bukan Erin, perlu menggunakan bantala...",Rebecca,Erin,1
1,1,3087LXLJ6OUC8YHY6A67DCJPHJ30FE-2,Rebecca ingin mengubah nama dan Carrie tidak m...,Rebecca,Carrie,2
2,2,307FVKVSYRD1Y4LMNUJX9P8D7ZX742-2,Karena Kyle adalah seorang vegetarian dan Kevi...,Kyle,Kevin,2
3,3,33NKDW9FFXGY8N4SYMTDMMXP13ICX0-1,Jason sakit di lehernya tetapi Craig tidak. _ ...,Jason,Craig,1
4,4,33K3E8REWY9BQ9DM18P8CYPF6YGX8M-2,Parit memiliki lebih sedikit ikan di dalamnya ...,parit,sungai,2
...,...,...,...,...,...,...
278,278,341YLJU21IXOKANV27467Z1O6MDI2O-1,Nick kurang menyukai olahraga dibandingkan Der...,Nick,Derrick,1
279,279,302U8RURJZZPV2WONX19ECUGPELNVS-1,Latoya berlari dan bisa melihat menembus hutan...,hutan,kebun,1
280,280,31SIZS5W59DI5SSZU5OGH90I48ERQI-1,SEO adalah pekerjaan yang kadang-kadang dilaku...,Natalie,Patricia,1
281,281,33K3E8REWY9BQ9DM18P8CYPE4PI8XD-2,Ada lebih sedikit cokelat dalam kue daripada d...,kue,pai,2
282,282,32204AGAABAE39KIV47A9RUAGPQGHT-1,Jay mencuci mangkuk kaca alih-alih piring kare...,mangkuk,piring,1

In [10]:
test_indograd = pd.read_csv('indograd/indograd_test.csv')
test_indograd

,id,twin_id,lang,is_under_consideration,is_switchable,is_fit_in_value,sentence,option1,option2,label,note
0,1,1,en,0,0,1,The city councilmen refused the demonstrators ...,the city councilmen,the demonstrators,the city councilmen,NaN
1,1,1,id,0,0,1,Para anggota dewan kota menolak izin para demo...,para anggota dewan kota,para demonstran,para anggota dewan kota,NaN
2,2,1,en,0,0,1,The city councilmen refused the demonstrators ...,the city councilmen,the demonstrators,the demonstrators,NaN
3,2,1,id,0,0,1,Para anggota dewan kota menolak izin para demo...,para anggota dewan kota,para demonstran,para demonstran,NaN
4,3,2,en,0,0,1,The trophy doesn't fit into the brown suitcase...,the trophy,the suitcase,the suitcase,NaN
...,...,...,...,...,...,...,...,...,...,...,...
631,316,149,id,0,0,1,"Pada kompetisi Loebner, para juri tidak dapat ...",para jurinya,chatbotnya,para jurinya,NaN
632,317,150,en,0,0,1,"The user changed his password from ""GrWQWu8JyC...","the password ""GrWQWu8JyC""","the password ""willow-towered Canopy Huntertrop...","the password ""willow-towered Canopy Huntertrop...",NaN
633,317,150,id,0,0,1,"Pengguna itu mengubah password-nya dari ""GrWQW...","password ""GrWQWu8JyC""","password ""willow-towered Canopy Huntertropic w...","password ""willow-towered Canopy Huntertropic w...",NaN
634,318,150,en,0,0,1,"The user changed his password from ""GrWQWu8JyC...","the password ""GrWQWu8JyC""","the password ""willow-towered Canopy Huntertrop...","the password ""GrWQWu8JyC""",NaN
635,318,150,id,0,0,1,"Pengguna itu mengubah password-nya dari ""GrWQW...","password ""GrWQWu8JyC""","password ""willow-towered Canopy Huntertropic w...","password ""GrWQWu8JyC""",NaN

In [11]:
test_indograd_dct = test_indograd.to_dict()

In [12]:
answers_lst = []

for i in range(len(test_indograd)):
    label = test_indograd_dct['label'][i]
    if label == test_indograd_dct['option1'][i]:
        answers_lst.append(1)
    else:
        answers_lst.append(2)

In [13]:
test_indograd['answer'] = answers_lst

In [14]:
test_indograd

,id,twin_id,lang,is_under_consideration,is_switchable,is_fit_in_value,sentence,option1,option2,label,note,answer
0,1,1,en,0,0,1,The city councilmen refused the demonstrators ...,the city councilmen,the demonstrators,the city councilmen,NaN,1
1,1,1,id,0,0,1,Para anggota dewan kota menolak izin para demo...,para anggota dewan kota,para demonstran,para anggota dewan kota,NaN,1
2,2,1,en,0,0,1,The city councilmen refused the demonstrators ...,the city councilmen,the demonstrators,the demonstrators,NaN,2
3,2,1,id,0,0,1,Para anggota dewan kota menolak izin para demo...,para anggota dewan kota,para demonstran,para demonstran,NaN,2
4,3,2,en,0,0,1,The trophy doesn't fit into the brown suitcase...,the trophy,the suitcase,the suitcase,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...
631,316,149,id,0,0,1,"Pada kompetisi Loebner, para juri tidak dapat ...",para jurinya,chatbotnya,para jurinya,NaN,1
632,317,150,en,0,0,1,"The user changed his password from ""GrWQWu8JyC...","the password ""GrWQWu8JyC""","the password ""willow-towered Canopy Huntertrop...","the password ""willow-towered Canopy Huntertrop...",NaN,2
633,317,150,id,0,0,1,"Pengguna itu mengubah password-nya dari ""GrWQW...","password ""GrWQWu8JyC""","password ""willow-towered Canopy Huntertropic w...","password ""willow-towered Canopy Huntertropic w...",NaN,2
634,318,150,en,0,0,1,"The user changed his password from ""GrWQWu8JyC...","the password ""GrWQWu8JyC""","the password ""willow-towered Canopy Huntertrop...","the password ""GrWQWu8JyC""",NaN,1
635,318,150,id,0,0,1,"Pengguna itu mengubah password-nya dari ""GrWQW...","password ""GrWQWu8JyC""","password ""willow-towered Canopy Huntertropic w...","password ""GrWQWu8JyC""",NaN,1

In [15]:
from transformers import AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained('xlm-roberta-large')

In [16]:
train_indograd_tokenized = tokenize_g(train_indograd, tokenizer, max_len=256, data_type='indograd')
val_indograd_tokenized = tokenize_g(val_indograd, tokenizer, max_len=256, data_type='indograd')
test_indograd_tokenized = tokenize_g(test_indograd, tokenizer, max_len=256, data_type='winogrande')

/usr/local/lib/python3.8/dist-packages/transformers/tokenization_utils_base.py:2301: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(
2022-07-27 08:59:42.558764: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-07-27 08:59:43.303712: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1532] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 30949 MB memory:  -> device: 6, name: Tesla V100-SXM2-32GB, pci bus id: 0000:89:00.0, compute capability: 7.0

In [29]:
y_train_indograd = tf.one_hot(train_indograd_tokenized[-1], depth=2)
y_val_indograd = tf.one_hot(val_indograd_tokenized[-1], depth=2)
y_test_indograd = tf.one_hot(test_indograd_tokenized[-1], depth=2)

In [32]:
model = build_classifier_model_wsc_hf('xlm-roberta-large', seq_len=256, from_pt=True)

loss = tf.keras.losses.CategoricalCrossentropy(from_logits=True)
metrics = tf.metrics.CategoricalAccuracy()

epochs = 5
batch_size = 4

steps_per_epoch = int(len(train_indograd_tokenized) / batch_size)
num_train_steps = steps_per_epoch * epochs
num_warmup_steps = int(num_train_steps * 0.1)

init_lr = 1e-5
optimizer = optimization.create_optimizer(init_lr=init_lr,
                                          num_train_steps=num_train_steps,
                                          num_warmup_steps=num_warmup_steps,
                                          optimizer_type='adamw')

model.compile(optimizer=optimizer,
                         loss=loss,
                         metrics=metrics)

All PyTorch model weights were used when initializing TFXLMRobertaForMultipleChoice.

Some weights or buffers of the TF 2.0 model TFXLMRobertaForMultipleChoice were not initialized from the PyTorch model and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [33]:
callbacks = [
        tf.keras.callbacks.ModelCheckpoint('model_checkpoint.h5', verbose=1, save_best_only=True, monitor='val_categorical_acc')
]

In [38]:
def train_model(x, y, model, epochs, batch_size, callbacks, val_x=None, val_y=None):
    val_data = None
    if val_x is not None and val_y is not None:
        val_x = val_x[:-1]
        
        val_data = (val_x, val_y)
    
    x = x[:-1]
    
    model.fit(
        x=x,
        y=y,
        batch_size=batch_size,
        epochs=1,
        verbose='auto',
        callbacks=callbacks,
        validation_data=val_data,
    )

def eval_model(x, y, model):
    loss, accuracy = model.evaluate(x[:-1], y)

    print(f'Loss: {loss}')
    print(f'Accuracy: {accuracy}')

In [35]:
train_model(train_indograd_tokenized, y_train_indograd, model, epochs, batch_size, callbacks, val_indograd_tokenized, y_val_indograd)

284/284 [==============================] - ETA: 0s - loss: 0.6961 - categorical_accuracy: 0.4863WARNING:tensorflow:Can save best model only with val_acc available, skipping.

WARNING:tensorflow:Can save best model only with val_acc available, skipping.

284/284 [==============================] - 215s 621ms/step - loss: 0.6961 - categorical_accuracy: 0.4863 - val_loss: 0.6932 - val_categorical_accuracy: 0.5088

In [39]:
eval_model(test_indograd_tokenized, y_test_indograd, model)

20/20 [==============================] - 21s 1s/step - loss: 0.6931 - categorical_accuracy: 0.4796
Loss: 0.6931408047676086
Accuracy: 0.4795597493648529